In [351]:
import sys
import pandas as pd

In [352]:
input = ['5000', 'transactions.csv']
try:
    point_spent = int(input[0])
    with open(input[1]) as f:
        df = pd.read_csv(f)

except Exception as e:
    print(e)

In [353]:
df["timestamp"] = pd.to_datetime(df["timestamp"])

df = df.sort_values(by="timestamp").reset_index()

df

   index         payer  points                 timestamp
0      4        DANNON     300 2020-10-31 10:00:00+00:00
1      1      UNILEVER     200 2020-10-31 11:00:00+00:00
2      2        DANNON    -200 2020-10-31 15:00:00+00:00
3      3  MILLER COORS   10000 2020-11-01 14:00:00+00:00
4      0        DANNON    1000 2020-11-02 14:00:00+00:00

In [354]:
df = df[["payer", "points"]]
points = list(df["points"])


for i in range(len(points)):
    if (points[i] <= 0):
        point_spent = point_spent - points[i]
        points_after = 0
        points[i] = points_after
        continue
    elif (points[i] >= point_spent):
        points_after = points[i] - point_spent
        points[i] = points_after
        break
    else:
        point_spent = point_spent - points[i]
        points_after = 0
        points[i] = points_after




points

[0, 0, 0, 5300, 1000]

In [355]:

df.loc[:, 'points'] = points

df

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

          payer  points
0        DANNON       0
1      UNILEVER       0
2        DANNON       0
3  MILLER COORS    5300
4        DANNON    1000

In [356]:
hash_map = {}

for index, row in df.iterrows():
    payer = row["payer"]
    points = row["points"]

    if payer not in hash_map:
        hash_map[payer] = points
    else:
        hash_map[payer] = hash_map[payer] + points
hash_map

{'DANNON': 1000, 'UNILEVER': 0, 'MILLER COORS': 5300}